
@font-face {
  font-family: 'Dancing Script';
  src: url('fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html::selection{
    background-color: #F2F6D0;
    color: #443627;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
}


.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#af9b68, #D98324);
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #F7E7CE;
  padding: 20px 20px;
}

.brand-name {
  color: #D98324;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  margin-bottom: 20px;
}

.hero-message {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero-btn {
  padding: 12px 30px;
  background-color: #D98324; 
  color: #F2F6D0;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background-color: #af9b68;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  z-index: 3;
  background: #443627;
}

.navbar .logo {
  color: #1E2022;
  font-family: 'Dancing Script',sans-serif; 
  font-size: 28.8px;
  font-weight: bold;
  display: flex;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 18px;
}

.nav-links li a {
  color: #EFDCAB; 
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #C9D6DF;
}
