@font-face {
  font-family: 'Dancing Script';
  src: url('fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
html::selection{
    background-color: #F2F6D0;
    color: #443627;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F6D0;
    color: #443627; 
}

h1, h2{
    color: #D98324; 
    font-family: 'Dancing Script', cursive;
    margin-bottom: 15px;
}
h3{
    color: #443627;
    margin-bottom: 15px; 
}

h1 {
    margin-top:120px;
    align-items:center;
    text-align: center;
}
p {
    line-height: 1.6;
    margin-bottom: 15px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  z-index: 3;
  background: #443627;
}

.navbar .logo {
  color: #D98324;
  font-family: 'Dancing Script',sans-serif; 
  font-size: 28.8px;
  font-weight: bold;
  display: flex;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 18px;
}

.nav-links li a {
  color: #EFDCAB; 
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #D98324;
}
.image-section {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

.image-section h2 {
    font-family: 'Dancing Script',sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color:#D98324;
}

.row-pics {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.collection-pic{
    width:250px;
    height:auto;
}

.collection-pic img {
    width: 250px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s;
}

.collection-pic img:hover {
    transform: scale(1.05);
}
h3 {
    color: #D98324;
    margin-bottom: 15px;
}

.video-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 9999;
}

.video-fullscreen iframe {
    width: 100%;
    height: 100%;
}
iframe {
    width: 100%;
    max-width: 800px; 
    height: 450px;    
    border: none;
    display: block;
    margin: 20px auto; 
}

iframe {
    border: none;
}



