@font-face {
  font-family: 'Dancing Script';
  src: url('fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html::selection{
    background-color: #F2F6D0;
    color: #443627;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body{
    height:100vh;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
    background-color: #F2F6D0;
    color: #443627;
}

h1{
    color: #D98324;
    font-family: 'Dancing Script', cursive;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background:#443627;
    z-index: 10;
}

.logo {
    color: #1E2022;
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links li a {
    color: #EFDCAB;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #C9D6DF;
}
.contact-cont {
    display: grid;
    grid-template-columns: 1fr 1fr; /* two equal columns */
    gap: 20px;
    height: 100vh;
}

.contact-left,
.contact-right {
    flex: 1;
    height: 100%;
}

.contact-left {
    padding: 40px;
    margin-top: 120px;
}

.contact-left h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    margin-bottom: 15px;
}

.contact-left p {
    margin-bottom: 15px;
    line-height: 1.5;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 0;
}

.contact-form label {
    font-weight: normal;
    color: #D98324;
}

.contact-form input,
.contact-form textarea {
    padding: 12px 15px;
    border: 1px solid #443627;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
    transition: all 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus
.contact-form input:not(:placeholder-shown),
.contact-form textarea:not(:placeholder-shown) {
    border-color: #EFDCAB;
    box-shadow: 0 0 5px rgba(30,32,34,0.3);
    outline: none;
    background-color: #af9b68;
}
.contact-form textarea:focus
.contact-form input:not(:placeholder-shown),
.contact-form textarea:not(:placeholder-shown) {
    border-color: #443627;
    box-shadow: 0 0 5px rgba(30,32,34,0.3);
    outline: none;
    background-color: #af9b68;
}


.contact-form button:hover {
    background-color: #af9b68;
}

.contact-form button {
    padding: 10px;
    background-color: #D98324;
    color: #F2F6D0;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.contact-right img {
    width: 100%;
    height: 650px;
    display: block;
    border-radius: 4px;
    margin-top: 50px;
    margin-bottom: 0;
}

