@font-face {
    font-family: 'Dancing Script';
    src: url(fonts/DancingScript-VariableFont_wght.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

html::selection{
    background-color: #F2F6D0;
    color: #443627;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #F2F6D0;
    color: #443627;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background:#443627;
    z-index: 10;
}

.logo {
    color: #D98324;
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links li a {
    color: #EFDCAB;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #D98324;
}

h1 {
    margin-top: 120px;
    text-align: center;
    font-size: 45px;
    color: #D98324;
    font-family: 'Dancing Script', cursive;
}

h2{
    color:#D98324
}

.image-section {
    max-width: 1200px;
    margin: 50px auto;
    padding: 10px;
}

.category {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.category h2 {
    text-align: center;
    font-size: 35px;
    color: #D98324;
    font-family: 'Dancing Script', sans-serif;
    margin-bottom: 20px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.trending-pic {
    width: 250px;
    text-align: center;
}

.trending-pic img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.trending-pic img:hover {
    transform: scale(1.05);
}

h3 {
    margin-top: 10px;
    color: #D98324;
}
